<div class="container">
        <div class="row " style="padding-top:40px;">
            <h3 class="text-center" >BOOTSTRAP CHAT EXAMPLE </h3>
            <br /><br />
            <div class="col-md-8">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        RECENT CHAT HISTORY
                    </div>
                    <div class="panel-body">
        <ul class="media-list">
        
                                            <li class="media">
        
                                                <div class="media-body">
        
                                                    <div class="media">
                                                        <a class="pull-left" href="#">
                                                            <img class="media-object img-circle " src="assets/img/user.png" />
                                                        </a>
                                                        <div class="media-body" >
                                                            Donec sit amet ligula enim. Duis vel condimentum massa.
                      
                      Donec sit amet ligula enim. Duis vel condimentum massa.Donec sit amet ligula enim. 
                                                            Duis vel condimentum massa.
                                                            Donec sit amet ligula enim. Duis vel condimentum massa.
                                                            <br />
                                                           <small class="text-muted">Alex Deo | 23rd June at 5:00pm</small>
                                                            <hr />
                                                        </div>
                                                    </div>
        
                                                </div>
                                            </li>
             <li class="media">
        
                                                <div class="media-body">
        
                                                    <div class="media">
                                                        <a class="pull-left" href="#">
                                                            <img class="media-object img-circle " src="assets/img/user.gif" />
                                                        </a>
                                                        <div class="media-body" >
                                                            Donec sit amet ligula enim. Duis vel condimentum massa.
                      
                      Donec sit amet ligula enim. Duis vel condimentum massa.Donec sit amet ligula enim. 
                                                            Duis vel condimentum massa.
                                                            Donec sit amet ligula enim. Duis vel condimentum massa.
                                                            <br />
                                                           <small class="text-muted">Jhon Rexa | 23rd June at 5:00pm</small>
                                                            <hr />
                                                        </div>
                                                    </div>
        
                                                </div>
                                            </li>
             <li class="media">
        
                                                <div class="media-body">
        
                                                    <div class="media">
                                                        <a class="pull-left" href="#">
                                                            <img class="media-object img-circle " src="assets/img/user.png" />
                                                        </a>
                                                        <div class="media-body" >
                                                            Donec sit amet ligula enim. Duis vel condimentum massa.
                      
                      Donec sit amet ligula enim. Duis vel condimentum massa.Donec sit amet ligula enim. 
                                                            Duis vel condimentum massa.
                                                            Donec sit amet ligula enim. Duis vel condimentum massa.
                                                            <br />
                                                           <small class="text-muted">Alex Deo | 23rd June at 5:00pm</small>
                                                            <hr />
                                                        </div>
                                                    </div>
        
                                                </div>
                                            </li>
             <li class="media">
        
                                                <div class="media-body">
        
                                                    <div class="media">
                                                        <a class="pull-left" href="#">
                                                            <img class="media-object img-circle " src="assets/img/user.gif" />
                                                        </a>
                                                        <div class="media-body" >
                                                            Donec sit amet ligula enim. Duis vel condimentum massa.
                      
                      Donec sit amet ligula enim. Duis vel condimentum massa.Donec sit amet ligula enim. 
                                                            Duis vel condimentum massa.
                                                            Donec sit amet ligula enim. Duis vel condimentum massa.
                                                            <br />
                                                           <small class="text-muted">Jhon Rexa | 23rd June at 5:00pm</small>
                                                            <hr />
                                                        </div>
                                                    </div>
        
                                                </div>
                                            </li>
                                        </ul>
                    </div>
                    <div class="panel-footer">
                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Enter Message" />
                                            <span class="input-group-btn">
                                                <button class="btn btn-info" type="button">SEND</button>
                                            </span>
                                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                  <div class="panel panel-primary">
                    <div class="panel-heading">
                       ONLINE USERS
                    </div>
                    <div class="panel-body">
                        <ul class="media-list">
        
                                            <li class="media">
        
                                                <div class="media-body">
        
                                                    <div class="media">
                                                        <a class="pull-left" href="#">
                                                            <img class="media-object img-circle" style="max-height:40px;" src="assets/img/user.png" />
                                                        </a>
                                                        <div class="media-body" >
                                                            <h5>Alex Deo | User </h5>
                                                            
                                                           <small class="text-muted">Active From 3 hours</small>
                                                        </div>
                                                    </div>
        
                                                </div>
                                            </li>
             <li class="media">
        
                                                <div class="media-body">
        
                                                    <div class="media">
                                                        <a class="pull-left" href="#">
                                                            <img class="media-object img-circle" style="max-height:40px;" src="assets/img/user.gif" />
                                                        </a>
                                                        <div class="media-body" >
                                                            <h5>Jhon Rexa | User </h5>
                                                            
                                                           <small class="text-muted">Active From 3 hours</small>
                                                        </div>
                                                    </div>
        
                                                </div>
                                            </li>
                            <li class="media">
        
                                                <div class="media-body">
        
                                                    <div class="media">
                                                        <a class="pull-left" href="#">
                                                            <img class="media-object img-circle" style="max-height:40px;" src="assets/img/user.png" />
                                                        </a>
                                                        <div class="media-body" >
                                                            <h5>Alex Deo | User </h5>
                                                            
                                                           <small class="text-muted">Active From 3 hours</small>
                                                        </div>
                                                    </div>
        
                                                </div>
                                            </li>
                            <li class="media">
        
                                                <div class="media-body">
        
                                                    <div class="media">
                                                        <a class="pull-left" href="#">
                                                            <img class="media-object img-circle" style="max-height:40px;" src="assets/img/user.gif" />
                                                        </a>
                                                        <div class="media-body" >
                                                            <h5>Jhon Rexa | User </h5>
                                                            
                                                           <small class="text-muted">Active From 3 hours</small>
                                                        </div>
                                                    </div>
        
                                                </div>
                                            </li>
                             <li class="media">
        
                                                <div class="media-body">
        
                                                    <div class="media">
                                                        <a class="pull-left" href="#">
                                                            <img class="media-object img-circle" style="max-height:40px;" src="assets/img/user.png" />
                                                        </a>
                                                        <div class="media-body" >
                                                            <h5>Alex Deo | User </h5>
                                                            
                                                           <small class="text-muted">Active From 3 hours</small>
                                                        </div>
                                                    </div>
        
                                                </div>
                                            </li>
             <li class="media">
        
                                                <div class="media-body">
        
                                                    <div class="media">
                                                        <a class="pull-left" href="#">
                                                            <img class="media-object img-circle" style="max-height:40px;" src="assets/img/user.gif" />
                                                        </a>
                                                        <div class="media-body" >
                                                            <h5>Jhon Rexa | User </h5>
                                                            
                                                           <small class="text-muted">Active From 3 hours</small>
                                                        </div>
                                                    </div>
        
                                                </div>
                                            </li>
                            <li class="media">
        
                                                <div class="media-body">
        
                                                    <div class="media">
                                                        <a class="pull-left" href="#">
                                                            <img class="media-object img-circle" style="max-height:40px;" src="assets/img/user.png" />
                                                        </a>
                                                        <div class="media-body" >
                                                            <h5>Alex Deo | User </h5>
                                                            
                                                           <small class="text-muted">Active From 3 hours</small>
                                                        </div>
                                                    </div>
        
                                                </div>
                                            </li>
                            <li class="media">
        
                                                <div class="media-body">
        
                                                    <div class="media">
                                                        <a class="pull-left" href="#">
                                                            <img class="media-object img-circle" style="max-height:40px;" src="assets/img/user.gif" />
                                                        </a>
                                                        <div class="media-body" >
                                                            <h5>Jhon Rexa | User </h5>
                                                            
                                                           <small class="text-muted">Active From 3 hours</small>
                                                        </div>
                                                    </div>
        
                                                </div>
                                            </li>
                                        </ul>
                        </div>
                    </div>
                
            </div>
        </div>
          </div>


          

<div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <span class="glyphicon glyphicon-comment"></span> Chat
                        <div class="btn-group pull-right">
                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-chevron-down"></span>
                            </button>
                            <ul class="dropdown-menu slidedown">
                                <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-refresh">
                                </span>Refresh</a></li>
                                <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-ok-sign">
                                </span>Available</a></li>
                                <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-remove">
                                </span>Busy</a></li>
                                <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-time"></span>
                                    Away</a></li>
                                <li class="divider"></li>
                                <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-off"></span>
                                    Sign Out</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel-body">
                        <ul class="chat">
                                <%for (var message in messages){%>
                                    
                                    <% message= chat[message]%>
                                    <%= include Message.ejs %>
                                    
                                <%}%>          
                        </ul>
                    </div>
                    <div class="panel-footer">
                        <div class="input-group">
                            <input id="btn-input" class="form-control input-sm" placeholder="Type your message here..." type="text">
                            <span class="input-group-btn">
                                <button class="btn btn-warning btn-sm" id="btn-chat">
                                    Send</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    

