<!DOCTYPE html>
<html lang="es">
	<head>
		<% include Lucy/LucyHead.ejs%>
	</head>

	<body class="w3-light-grey">

		<% include Lucy/LucyBody.ejs%>

		<% include Lucy/LucyFooter.ejs%>

		<%- body %>
		
	</body>
</html>
