<!DOCTYPE html>
<html lang="es">
	<head>
		<% include Lucy/LucyHead.ejs%>
	</head>

	<body>	

		<div>
			<% messages= chat %>
			<% medias= history %>
			<% beings= people %>
			<% captions= translations %>
			<% being= being %>
			<% room= room %>
			<% include Room/box.ejs%>
		</div>
		
		<hr>

		
	<!-- Insert Body here -->
	<div class="container">

		<div class="starter-template">
			<%- body %>
		</div>

	</div><!-- /.container -->

	<% include Lucy/LucyFooter.ejs%>

	</body>
</html>
