<!DOCTYPE html>
<meta charset="UTF-8">
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.css"/>
  </head>
  <body  style="text-align: center;">

    <h1>Sapere Aude Bot v0.5.0</h1>

    <h2>
        An owl bot.        
    </h2>

    <a href="tutorial_steps/SapereAudeAowlBot.png">
      <img src="tutorial_steps/SapereAudeAowlBot.png" width="40%">
    </a>

    <div>
        
      <h2>AIML</h2>
      
        <h3>El AIML, o Artificial Intelligence Mark-up Language es un lenguaje de programación basado en XML.</h3>
        <a href="http://en.wikipedia.org/wiki/AIML"><img src="tutorial_steps/001.png" width="40%"></a>
        
        
        <h3>Artificial Intelligence Markup Language lib for Node.js</h3>
        <a href="https://www.npmjs.com/package/aiml"><img src="tutorial_steps/002.png" width="40%"></a>        
       

      <h2>SPARQL</h2>
      <h3>A SPARQL 1.1 client for JavaScript.</h3>   
        <a href="tutorial_steps/004.png"><img src="tutorial_steps/004.png" width="40%"></a>
        
      <h3>A SPARQL library to query and transform JSON for visualization in D3.js </h3>
      <a href="https://github.com/ktym/d3sparql"><img src="tutorial_steps/003.png" width="40%"></a>      
    
        <h3>Mapping and dataseting community</h3>
        <a href="http://es.dbpedia.org/wiki/Wiki.jsp?page=Ejemplos%20de%20consultas%20SPARQL"><img src="tutorial_steps/005.png" width="40%"></a>
        
        <h3>A SPARQL Online Query Editor</h3>
        <a href="http://es.dbpedia.org/sparql"><img src="tutorial_steps/006.png" width="40%"></a>     
        
               
      <h2>Sapere Aude bot v0.4.0 (DbPedia version)</h2>
        <a href="http://revistero.teatredefum.net/pages/SALA-MCHD-[Escuela-de-bots]-Sapere-Aude-v01"><img src="tutorial_steps/007.png" width="40%"></a>   
        <p>An owl speaking bot, no lo encontrarás en pandorabots.</p>
        
      </div>   

  </body>

</html>
