<li class="media">

	<div class="media-body">

		<div class="media">
			<a class="pull-left" href="#">
				<img class="media-object img-circle"  src="images/<%= message.mAvatar %>" />
			</a>
			<div class="media-body">
				<h5><%= message.mAuthor %> | <%= message.mText %> </h5>

				<small class="text-muted"><%= message.mTime %></small>
			</div>
		</div>

	</div>
</li>